.thumb-list {
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: allways;

    -webkit-overflow-scrolling: touch;

    //hide scrollbar
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &.thumb-list--carousel {
        .thumb-list__item {
            flex-basis: 42dvw;
            flex-grow: 0;
            flex-shrink: 0;
            scroll-snap-align: start;

            :global(>div) {
                height: 100%;

                :global(.sig-thumb__data-wrapper) {
                    flex: 1;
                    justify-content: space-between;
                }
            }
        }
    }
}